h1
{color:red;}
fieldset
{background-color: #ffcccc;}
td #hallo
{background-color: #ffffcc;}
td #dag
{background-color: #ffccff;}
td #tot
{background-color: #ff6666;}
td #vaarwel
{background-color: #cc66ff;}
td #h
{background-color: #99ffff;}
td #d
{background-color: #9999ff;}
td #t
{background-color: #6666ff;}
td #v
{background-color: #66ccff;}
td #schilderen
{background-color: #0033ff;}
td #borduren
{background-color: #0099ff;}
td #sporten
{background-color: #00ffff;}
td #lezen
{background-color: #00ffcc;}
td #sc
{background-color: #00cc99;}
td #b
{background-color: #006666;}
td #s
{background-color: #003333;}
td #l
{background-color: #080099;}
